*{

    color: beige;    
}

body{
    background-color: darkslategray;
    margin: 0 auto;
}
.navbar{
    background-color: blueviolet;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.navbar-list{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

p{
    color:rgb(151, 201, 202);
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
